@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,100&family=Open+Sans&family=Oswald&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* yo no modificique esto -- principio */

body{
   width: 100%;
   height: 100vh;
   margin: 0 auto;
   padding: 0%;
   margin-right: 0%;
   border-right: 0%;
}

/* header -- principio */
.header{
    width: 100%;
    height: 20%;
    background: yellow;
}
.logo{
    height: 50px;
    width: 100px;
}
.titulo{
    text-align:center;
    top:-60px;
    margin-right:1050px;
    font-size:55px;
    font-family:  'Oswald', sans-serif;
    background:yellow;
}
.buscador{
    position: absolute;
    font-family:  'Oswald', sans-serif;
    font-size: 20px;
    right: 30px;
    top: 30px;
}
/* navegador -- principio */
.header__navegador{
    display: absolute;
    width: 100%;
    padding:10px;
    height:40%;
    text-decoration:none;
    font-family:  'Oswald', sans-serif;
    background: yellow;
    background: linear-gradient(yellow);
    background-repeat: no-repeat;
    position: right top;
    z-index: 10;
}
.header__nav a{
    text-decoration:none;
    color:inherit;
    font-size: 14px;
}
.header__navegador li{
    display: inline-block;
    width: 15%;
    padding:10px 10px;
    background: linear-gradient(yellow);
    /* background: linear-gradient(yellow, #FF7F00); */
    font-size: 20px;
    border:1px solid rgb(0, 0, 0);
    color:14px;
    margin:0px;
    

}
.header__navegador li:hover{
    background : #f3c956;
    color:#000;
}
/* navegador -- fin */

/* main -- principio */
.principal {
    width: 100%;
    height: 80%;
    margin: 0px 0px 0px 0px !important;
    padding-bottom: 100px;
    background: linear-gradient(yellow, #FF7F00);
    font-family: 'Oswald', sans-serif;
    margin-top: 5%;
    margin-bottom: -20;
}
.principal__articulo {
    display: inline-block;
}

.texto{
    text-align: left;
    font-size:20px;
    margin: 2em 1em;
    width: 50%;
}

.imagen{
    width: 36%;
    height: 36%;
    margin: 1em;
    display: inline-block;
}

.lado_derecho {
    width: 60%;
    height: 100%;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 260px;
}

.subtitulo{
    display: block;
    margin: 1em;
    margin-right: 300px;

}

.articulos{
    height:150px;

}





/* main -- fin */

/* comienzo del footer */

.footer{
    
    position: relative;
    text-align: right;
    padding:10px;
    margin-bottom: 0;
    width: 100%;
    height: 20%;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(#FF7F00,red);
}
.footertitulo{
    margin-right:1500px;
}
.conteiner__footer a{
    margin-right: 10%;
    display:flex;
    position: relative;
    width: 100%;
}
.politica{
    margin-left: 85%;
    margin-top: -70px;;
}
/* fin del footer */